/*  ARTICLES PAGES
=================================================================== /// */

// ARTICLE LISTING PAGE

.article-listing-wrapper{
  margin-bottom: 100px;
}


.article-listing-item{
      position: relative;
      margin-bottom: 100px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 60px;
      margin-left: 60px;
      height: 80vh;
      position: relative;
      h1{
          font-size: 3.7rem;
          font-family: $font-sans-serif;
          color: $blue-1;
          margin-top: 0;
          padding-top: 35vh;
          text-transform: uppercase;
          max-width: 80%;
          .header-span{
              background: rgba(255,255,255,.6);
              padding: 3.5px 10px;
              @media only screen and (max-width: 900px) {
                  padding: 2.5px 10px;
              }
          }
          @media only screen and (max-width: 900px) {
              font-size: 2.7rem;
              padding-top: 16vh;
              padding-bottom: 4vh;
          }
          a{
            text-decoration: none;
            transition: all 0.5s ease;
            transition-delay: 0.1s;
            &:hover{
              color: $red-1;
            }
          }
      }
    h2{
      position: absolute;
      top: 0;
      left: 0;
      background-color: $blue-2;
      font-family: $font-sans-serif;
      font-size: 24px;
      color: white;
      display: inline-block;
      padding: 10px 30px;
      text-transform: uppercase;
      margin-left: -20px;
      margin-top: 30px;
      z-index: 10;
        a{
          color: white;
          text-decoration: none;
          transition: all 0.5s ease;
          transition-delay: 0.1s;
            &:hover{
              color: $red-1;
            }
        }
    }
    &:first-of-type{
      margin-top: 50px;
    }
    @media only screen and (max-width: 900px) {
      margin-right: 15px;
      margin-left: 15px;
    }
  }

.article-trigger{
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &:hover{
      cursor: pointer;
      ~ h1 a{
        color: $red-1;
      }
    }
}

.article-hover:before{
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}



.article-listing-meta{
	padding: 0;
  margin: 0;
	font-size: 16px;
	color: $blue-1;
  padding-top: 10px;
}

.article-left{
  float: left;
  width: 48%;
  padding-right: 2%;
}

.article-right{
  float: right;
  width: 48%;
  padding-left: 2%;
}



// ARTICLE SINGLE PAGE

.article-wrapper{
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.article-single-item{
  h1{
    font-size: 38px;
    font-weight: 700;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    padding: 20px 0 10px 0;
    margin-bottom: 0;
    padding-top: 0;
  }
  p:first-of-type{
    font-size: 24px;
    color: black;
    padding-top: 20px;
  }
  h2{
    padding-top: 20px;
    margin-bottom: 0;
  }
}

.article-single-item-hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 60px;
    margin-left: 60px;
    height: 60vh;
    position: relative;
    @media only screen and (max-width: 900px) {
      margin-right: 15px;
      margin-left: 15px;
    }
}


.cat-links a{
  color: #999;
  border-bottom: 1px solid $blue-2;
  &:hover{
    color: $blue-3;
    border-bottom: 1px solid $red-1;
  }
}
