/*  CONTACT STYLES
=================================================================== /// */


.contact-one{
	padding-top: 100px;
	padding-bottom: 100px;
    form{
        width: 60%;
        margin: 0 auto;
        @media only screen and (max-width: 900px) {
            width: 100%;
        }
    }
    .button{
        float: right;
        margin-top: 30px;
    }
    @media only screen and (max-width: 900px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
