/*  SERVICES STYLES
=================================================================== /// */

.services-one{
	padding-top: 100px;
	padding-bottom: 100px;
    background-color: $blue-2;
    h2{
        font-family: $font-sans-serif;
        font-size: 50px;
        line-height: 1.2;
        color: white;
        margin-top: 0;
        margin-bottom: 0;
    }
    p{
        color: white;
    }
}

.services-two{
    padding-top: 50px;
}

    /*  ICONS
    =================================================================== /// */

    .card-wrapper{
        margin-top: 20px;
        margin-bottom: 20px;
        @media only screen and (max-width: 670px) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .icon-wrapper{
        padding: 40px 8%;
    }



    .icon-three-up-container{
        display: block;
        float: left;
        width: 32%;
        max-width: 308px;
        margin-top: 10px;
        display: block;
        margin-right: 2%;
        text-align: center;
        h2{
            text-align: center;
            font-family: $font-sans-serif;
            color: $blue-1;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
        }
        &:last-of-type{
            margin-right: 0;
            @media only screen and (max-width: 485px) {
                margin-right: auto;
            }
        }
        @media only screen and (max-width: 485px) {
            width: auto;
            float: none;
            margin: 0 auto;
        }
        svg{
            margin: 0 auto;
            width: 100px;
            height: 100px;
            }
        p{
            text-align: left;
            line-height: 29px;
            font-size: 18px;
            margin-bottom: 0;
        }
    }



