/*  TESTIMONIALS PAGE
=================================================================== /// */

.testimonial-wrapper{
        margin: 0;
        border-radius: 5px;
        padding: 80px 0 60px 0;
        @media only screen and (max-width: 825px) {
            padding: 10px 0 30px 0;
        }
}

.testimonial-even{
    background: #DDE7ED;
}

.testimonial-odd{
    background: #EEEEEE;
}

.testimonial-header{
    text-align: center;
    h2{
        margin: 100px auto 50px auto;
    }
}

.attachment-testimonial-photo {
        margin-top: 15%;
        border-radius: 50%;
        @media only screen and (max-width: 825px) {
            margin: 10px auto;
            display: block;
        }
}

.testimonial-photo{
    float: left;
    width: 20%;
  @media only screen and (max-width: 825px) {
        float: none;
        width: auto;
        padding: 20px 0;
    }
}

.testimonial-words{
    // float: right;
    width: 100%;
    @media only screen and (max-width: 825px) {
        float: none;
        width: auto;
    }
}

.testimonial-words-photo{
    float: right;
    width: 80%;
    @media only screen and (max-width: 825px) {
        float: none;
        width: auto;
    }
}
