/*  TESTIMONIALS PAGE
=================================================================== /// */

.testimonial-wrapper{
        margin: 0;
        border-radius: 5px;
        padding: 80px 0 60px 0;
        @media only screen and (max-width: 825px) {
            padding: 10px 0 30px 0;
        }
}

// .testimonial-even{
//     background: #DDE7ED;
// }

.testimonial-odd{
    background: #EEEEEE;
}

.testimonial-header{
    text-align: center;
    h2{
        margin: 100px auto 50px auto;
    }
}





