  {{ collection:articles taxonomy="true" paginate="true" as="posts" limit="10" }}
      {{ if no_results }}
          <p>No "{{ title }}" posts.</p>
      {{ /if }}

      {{ posts }}
      <article class="article-listing-item" style="background-image: url({{ glide:article_featured_image }});">

          <h2><span class="fa fa-tags"></span>&nbsp;{{ categories }}<a href="{{ url }}">{{ title }}</a>{{ if not last }}, {{ endif }}{{ /categories }}</h2>

          <div class="headline-wrapper mobile-wrapper">
            <a class="article-trigger" href="{{ url }}"></a>
            <div class="article-listing-title"><a href="{{ url }}">{{ appearance_title | markdown }}</a></div>
          </div><!-- headline-wrapper mobile-wrapper -->
      </article> <!-- article-listing-item -->
      {{ /posts }}

      {{ partial:pagination }}
  {{ /collection:articles }}

  </div><!-- article-listing-wrapper -->
</div> <!-- content-wrapper mobile-wrapper group -->
