/*--------------------------------------------------------------
  XX.X Buttons
--------------------------------------------------------------*/

    .button-wrapper{
        text-align: center;
    }

    .button {
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
        display: inline-block;
        text-decoration: none;
        background-color: rgba(224,95,88,1);
        padding: 12px 25px;
        line-height: 1em;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        border: none;
        font-family: $font-sans-serif;
        font-weight: bold;
        font-size: 22px;
        background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            rgb(53,53,53) 50%,
            rgb(53,53,53));
        background-position: 99% 0;
        background-size: 205% 100%;
        transition: all .25s ease-in-out;
         @media only screen and (max-width: 900px) {
            font-size: 22px;
            width: 100%;
         }
         &:hover{
            padding: 12px 25px;
            background-position: 0 0;
            cursor: pointer;
         }
    }

     .readmore {
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
        display: inline-block;
        text-decoration: none;
        background-color: rgba(224,95,88,1);
        padding: 12px 25px;
        line-height: 1em;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        border: none;
        font-family: $font-sans-serif;
        font-weight: bold;
        font-size: 22px;
        background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            rgb(53,53,53) 50%,
            rgb(53,53,53));
        background-position: 99% 0;
        background-size: 205% 100%;
        transition: all .25s ease-in-out;
         @media only screen and (max-width: 900px) {
            font-size: 22px;
            width: 100%;
         }
         &:hover{
            padding: 12px 25px;
            background-position: 0 0;
            cursor: pointer;
         }
    }

    .nav>ul>li.nav-button {
        transition: none;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
        display: inline-block;
        text-decoration: none;
        background-color: rgba(224,95,88,1);
        padding: 12px 25px;
        margin-right: 0;
        line-height: 1em;
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        border: none;
        font-family: $font-sans-serif;
        font-weight: bold;
        font-size: 22px;
        background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            rgb(53,53,53) 50%,
            rgb(53,53,53));
        background-position: 99% 0;
        background-size: 205% 100%;
        transition: all .25s ease-in-out;
         @media only screen and (max-width: 900px) {
            font-size: 22px;
            width: 100%;
            background-color: none;
            background-image: none;
            background-color: white;
            padding: 10px 4px;
         }
         &:hover{
            padding: 12px 25px;
            background-position: 0 0;
            cursor: pointer;
            @media only screen and (max-width: 900px) {
                padding: 10px 4px;
                a{
                    color: $red-1;
                }
            }
         }
         a{
            color: white;
            @media only screen and (max-width: 900px) {
                color: #1E2E3E;
                font-weight: 200;
                &:hover{
                    color: $red-1;
                }
            }
         }
    }


