ul{
    li{
        font-style: normal;
        padding-bottom: 20px;
        a{
            color: $blue-1;
        }
        @media only screen and (max-width: 900px) {
            font-size: 16px;
        }
    }
    @media only screen and (max-width: 900px) {
        padding-right: 25px;
    }
}

ol{
    font-weight: normal;
    li{
        padding-bottom: 20px;
        font-style: normal;
        a{
            color: $blue-1;
        }
        @media only screen and (max-width: 900px) {
            font-size: 16px;
        }
    }
    ol{
        margin-top: .75em;
    }
}

.testimonial-photo{
    float: left;
    margin-left: 70px;
    margin-top: 48px;
    margin-right: 40px;
    @media only screen and (max-width: 470px) {
      float: none;
      text-align: center;
      background-color: white;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding-top: 48px;
      border-left: 15px solid $blue-2;
      border-right: 2px solid $blue-2;
    }
}




.testimonial-words{
    background: white;
    width: 100%;
    @media only screen and (max-width: 700px) {
        float: none;
        width: auto;
    }
}

blockquote:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  line-height: 0;
  height: 0 !important;
}

blockquote {
  display: table;
}

blockquote{
  display:block;

  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid $blue-2;
  border-right: 2px solid $blue-2;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;

  @media only screen and (max-width: 470px) {
    box-shadow: none;
  }
}



blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: $font-sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: $blue-1;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  cursor: pointer;
  padding: 0 3px;
  color: $blue-1;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

blockquote cite{
  float: right;
}
