    <meta name="description" content="{{ meta_description }}" />
    <meta name="keywords" content="{{ meta_keywords}}" />
    <meta name="publisher" content="{{ site_name }}" />
    <meta name="rights" content="Matt Steele, Western Code, LLC">
    <meta name="author" content="Matt Steele">

    <!-- OPEN GRAPH -->
    <meta property="og:site_name" content="{{ site_name | Denver, Colorado }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ article_featured_image }}">
    <meta property="og:description" content="{{ article_intro }}" />
    <meta name="msvalidate.01" content="D0B4ABB28E4A31679156F38F8538A612" />
