<div class="page-title-header">
  <div class="content-wrapper mobile-wrapper">

      <h2>404 : Page Not Found</h2>

    <p>Maybe reach out with an email to <a href="mailto:hello@westerncode.com">hello@westerncode.com</a>?</p>
  </div> <!-- content-wrapper mobile-wrapper -->
</div><!-- page-title-header -->

<div class="four-oh-four">
  <div class="content-wrapper mobile-wrapper">
    <h2>It looks like you have a type-o, or got lost.</h2>
    <img src="http://bukk.it/flop.gif">
    </div><!-- content-wrapper mobile-wrapper -->
</div><!-- four-oh-four -->

{{ partial:recent-articles }}
