<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if !segment_1 }}Denver Web Development | {{ site_name }}{{ else }}{{ site_name }} | {{ title }}{{ endif }}</title>

    {{ partial:meta }}

    <link rel="apple-touch-icon" sizes="180x180" href="/site/themes/westerncode/dist/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/site/themes/westerncode/dist/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/site/themes/westerncode/dist/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/site/themes/westerncode/dist/favicons/manifest.json">
    <link rel="mask-icon" href="/site/themes/westerncode/dist/favicons/safari-pinned-tab.svg" color="#507796">
    <meta name="theme-color" content="#507796">

    <link rel="stylesheet" href="/site/themes/westerncode/dist/css/style.min.css">
    <link rel="stylesheet" href="/site/themes/westerncode/dist/css/font-awesome.min.css">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-34445503-10', 'auto');
	  ga('send', 'pageview');
	
	</script>

</head>

<body class="section-{{ segment_1 or "home" }}" id="top">

<header class="header">

    <div class="header-wrapper group">
    <a class="desktop-logo-wrapper" href="/">
        <img src="/site/themes/westerncode/dist/svg/blue-blue-horizontal.svg" alt="Western Code">
    </a>

    {{ partial:nav }}

    </div> <!--/ header-wrapper group-->
</header> <!--/ header-->

    {{ template_content }}

<footer class="site-footer">
        <div class="footer-one footer-underline-light">
            <a href="/articles">Articles</a>
        </div><!-- footer-one footer-underline-light -->
        <div class="footer-two footer-underline-light">
            <a href="/services">Services</a>
        </div><!-- footer-two footer-underline-light -->
        <div class="footer-three footer-underline-light">
            <a href="/contact">Contact</a>
        </div><!-- footer-three footer-underline-light -->
        <div class="footer-four footer-underline-dark">
            <a href="/about">About</a>
        </div><!-- footer-four footer-underline-dark -->
         <div class="footer-five footer-underline-dark">
            <a href="/testimonials">Testimonials</a>
        </div>
        <div class="footer-six footer-underline-dark">
            <a class="scrollable" href="#top">BACK TO THE TOP</a>
        </div><!-- footer-six footer-underline-dark -->
</footer><!-- site-footer -->

    <script src="/site/themes/westerncode/dist/js/app.min.js"></script>

</body>
</html>
