/*--------------------------------------------------------------
  XX.X Variables
--------------------------------------------------------------*/

$body-background-color: white;
$body-font-color: #363636;
$body-font-size: 18px;
$body-line-height: 1.65;

/* Reds */
$red-1: #B33D40;
$red-2: #D1625B;

/* Blues */
$blue-1: #1E2E3E;
$blue-2: #507796;
$blue-3: #2A94C8;


/* Greys */
$grey-1: #EEEEEE;
$grey-2: #BDC3C7;


$font-uppercase: uppercase;


/* Serif font */
$font-serif: 'Georgia', serif;

.font-serif{
  font-family:  'Georgia', serif;;
}


/* Sans-serif font */
$font-sans-serif: 'Trebuchet MS', Trebuchet MS, sans-serif;

.font-sans-serif{
  font-family:  'Trebuchet MS', Trebuchet MS, sans-serif;
}



/* Body Font */
$body-font: 'Trebuchet MS', Trebuchet MS, sans-serif;
