	<div class="page-title-header">
	  <div class="content-wrapper mobile-wrapper">
	    <h2>Great Clients. Great Results.</h2>
	  </div> <!-- content-wrapper mobile-wrapper -->
	</div><!-- page-title-header -->

	{{ collection:testimonials as="posts" }}
		{{ posts }}

		<div class="testimonial-wrapper {{ switch between='testimonial-odd|testimonial-even' }} group">
		<div class="content-wrapper mobile-wrapper group">

		<div class="testimonial-photo">
			<img src="{{ glide src="{testimonial_image}" width="150" height="150" fit="crop" }}" alt="{{ title }}" />
		</div> <!-- testimonial-photo -->

		<div class="testimonial-words">
			<blockquote>
				<p><span itemprop="author">{{ testimonial_text | markdown }}</span></p>
				<cite>&#8212; {{ testimonial_citation }}</cite>
			</blockquote>
		</div> <!-- testimonial-words -->

			</div><!-- content-wrapper mobile-wrapper group -->
		</div><!-- testimonial-wrapper group -->
		{{ /posts }}
	{{ /collection:testimonials }}



