/*--------------------------------------------------------------
  XX.X Header
--------------------------------------------------------------*/

.logo-wrapper{
	display: block;
	float: left;
	img{
        height: 100px;
        transition: all 0.25s ease;
        transition-delay: 0.1s;
        &:hover{
            opacity: .7;
        }
        @media screen and (max-width: 865px) {
            display: block;
            margin: 0 auto;
        }
    }
    @media screen and (max-width: 865px) {
        float: none;
    }
}
