<div class="page-title-header">
  <div class="content-wrapper mobile-wrapper">
    <h2>Expertise. Partnerships. Communication.</h2>
  </div> <!-- content-wrapper mobile-wrapper -->
</div><!-- page-title-header -->

<div class="about-one">
    <div class="content-wrapper mobile-wrapper">
      <h2>Western Code is a small web development studio in Denver, Colorado.</h2>
    </div><!-- content-wrapper mobile-wrapper -->
</div><!-- about-one -->

<div class="content-wrapper mobile-wrapper">
  <hr />
</div><!-- content-wrapper mobile-wrapper -->

<div class="about-two">
<div class="content-wrapper mobile-wrapper about-two_wrapper group">
      <div class="about-two_one">
        <h3>Values</h3>
        <ul>
          <li><span>Quality Over Quantity.</span> I work with a small number of businesses at a time so that you're success is 100% of my focus</li>
          <li><span>Integrity.</span> My solutions to your business are custom. No quick-fix template solutions.</li>
          <li><span>Sharing &amp; Learning.</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, voluptas!</li>
        </ul>
      </div><!-- about-two_one -->

      <div class="about-two_two">
        <h3>Expertise</h3>
          <ul>
          <li><span>A thing.</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, maiores.</li>
          <li><span>Another thing</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, vitae.</li>
          <li><span>And another</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ipsum.</li>
        </ul>
      </div><!-- about-two_two -->
</div><!-- content-wrapper mobile-wrapper about-two_wrapper group -->
</div><!-- about-two -->

<div class="content-wrapper mobile-wrapper">
  <hr />
</div><!-- content-wrapper mobile-wrapper -->

<div class="about-three">
    <div class="content-wrapper mobile-wrapper group">
      <div class="floating-box">
    <div class="floating-box-text">
          <h2>Matt Steele</h2>
          <hr />
          <h3>Developer &amp; Founder</h3>
    </div><!-- floating-box-text -->
  </div><!-- floating-box -->
  <div class="floating-box-image">
    <img src="/site/themes/westerncode/dist/img/matt-bio-341x326.jpg" alt="Matt Steele" />
  </div> <!--/ floating-box-image -->
    </div> <!--/ content-wrapper mobile-wrapper group -->
</div><!-- about-three -->

<div class="about-four">
  <div class="content-wrapper mobile-wrapper group">
      <p>Hi, I'm <a href="https://matt-steele.com">Matt Steele</a>. I partner with designers, agencies and business owners to build user-focused solutions for the web.</p>

      <p>I build custom sites that are engineered specifically for your customers. I focus on design and development that’s driven by your visitors behavior. Together we’ll make sure that your customers are going where you want them to and discovering the content they’re looking for.</p>

      <p>If you want to work with someone that understands both the creative side and the business side of the web, I can help.</p>


    <div class="signature-block">
      <img src="/site/themes/westerncode/dist/img/mattsteele-signature.png" alt="Matt Steele" />
      <h2>Matt Steele</h2>
    </div><!-- signature-block -->
  </div> <!--/ content-wrapper mobile-wrapper group -->
</div><!-- about-four -->
