<div class="home-one">
    <div class="content-wrapper mobile-wrapper">
        <h1><span class="header-span">A small web</span><br /><span class="header-span">development studio</span><br /><span class="header-span">in Denver, Colorado.</span></h1>
    </div> <!-- content-wrapper mobile-wrapper-->
</div><!-- home-one -->


<div class="home-two">
    <div class="content-wrapper mobile-wrapper">

        <h2>Faster, smarter, custom websites with measured results.</h2>

        <div class="media-odd group">
            <div class="media-odd-one">
            <h3>100% custom web solutions.</h3>
            <p>Your business is not a cookie cutter one-size-fits-all operation, and your online presence shouldn’t be either. Every site we build is custom built from the ground-up and made <i>specifically</i> for your business.</p>
            </div><!-- media-odd-one -->
            <div class="media-odd-two">
                <img src="/site/themes/westerncode/dist/img/writing-above.jpg" alt="PLACEHOLDER" />
            </div><!-- media-odd-two -->
        </div><!-- media-odd group -->

        <div class="media-even group">
            <div class="media-even-one">
                <img src="/site/themes/westerncode/dist/img/generic-agency.jpg" alt="PLACEHOLDER" />
            </div><!-- media-even-one -->
            <div class="media-even-two">
                <h3>No getting lost in a big agency.</h3>
                <p>Large, overgrown agencies can make you feel like you're lost in a crowd. Just another number. We understand small businesses since we are one ourrselves. We value each one of our clients individualy.</p>
            </div><!-- media-even-two -->
        </div><!-- media-even group -->

        <div class="media-odd group">
            <div class="media-odd-one">
            <h3>Site management that puts you in control.</h3>
            <p>Managing a website should be easy. We always strive to make sure that you completely understand how your site works and give you the training you need to make the most of your new site.</p>
            </div><!-- media-odd-one -->
            <div class="media-odd-two">
                <img src="/site/themes/westerncode/dist/img/placeholder-570x400.jpg" alt="PLACEHOLDER" />
            </div><!-- media-odd-two -->
        </div><!-- media-odd group -->

    </div> <!-- content-wrapper mobile-wrapper-->
</div><!-- home-two -->

<div class="section-divider"></div><!-- section-divider -->
<div class="home-three">
    <div class="content-wrapper mobile-wrapper">
        <h2>Grow your business.</h2>
        <h3>You’ve got an idea for an upcoming web project.</h3>
        <h3>We'll make it happen.</h3>
        <div class="button-wrapper">
            <a class="button" href="/contact.php">Let's Talk</a>
        </div><!-- button-wrapper -->
    </div> <!-- content-wrapper mobile-wrapper-->
</div><!-- home-three -->
<div class="section-divider"></div><!-- section-divider -->

{{ partial:recent-articles }}
