<div class="page-title-header">
  <div class="content-wrapper mobile-wrapper">
    <h2>Let us take care of the<br />digital side of your business.</h2>
  </div> <!-- content-wrapper mobile-wrapper -->
</div><!-- page-title-header -->


<div class="services-one">
    <div class="content-wrapper mobile-wrapper">

<!-- ODD -->
        <div class="media-odd group">
            <div class="media-odd-one">
            <h3>100% custom web solutions.</h3>
            <p>Your business is not a cookie cutter one-size-fits-all operation, and your online presence shouldn’t be either. Every site we build is custom built from the ground-up and made <b>specifically for your business</b>.</p>
            </div><!-- media-odd-one -->
            <div class="media-odd-two">
                <img src="/site/themes/westerncode/dist/img/matt-overhead-563x376.jpg" srcset="/site/themes/westerncode/dist/img/matt-overhead-1126x752.jpg" alt="Western Code" />
            </div><!-- media-odd-two -->
        </div><!-- media-odd group -->

        <hr />
<!-- EVEN -->
        <div class="media-even group">
            <div class="media-even-two-mobile">
                <h3>No getting lost in a big agency.</h3>
                <p>Large, overgrown agencies can make you feel like you're lost in a crowd; Just another number. We understand small businesses, after all, we're one ourselves. We value each one of our clients individualy.</p>
            </div><!-- media-even-two-mobile -->
            <div class="media-even-one">
                <img src="/site/themes/westerncode/dist/img/agency-02-563x376.jpg" srcset="/site/themes/westerncode/dist/img/agency-02-1126x752.jpg" alt="Western Code" />
            </div><!-- media-even-one -->
            <div class="media-even-two-desktop">
                <h3>No getting lost in a big agency.</h3>
                <p>Large, overgrown agencies can make you feel like you're lost in a crowd; Just another number. We understand small businesses, after all, we're one ourselves. We value each one of our clients individualy.</p>
            </div><!-- media-even-two-desktop -->
        </div><!-- media-even group -->

        <hr />
<!-- ODD -->
        <div class="media-odd group">
            <div class="media-odd-one">
            <h3>Site management that puts you in control.</h3>
            <p>You should never need to rely on a developer to make simple changes to your website. If your website is built the right way (the way we build 'em), it'll allow you to make changes on your own time.</p>
            </div><!-- media-odd-one -->
            <div class="media-odd-two">
                <img src="/site/themes/westerncode/dist/img/coffee-mug-563x376.jpg" srcset="/site/themes/westerncode/dist/img/coffee-mug-1126x752.jpg" alt="Western Code" />
            </div><!-- media-odd-two -->
        </div><!-- media-odd group -->


        <hr />
<!-- EVEN -->
        <div class="media-even group">
            <div class="media-even-two-mobile">
                <h3>Easy to understand and update.</h3>
                <p>Managing your website should be easy. We always make sure that you <b>completely understand how your site works</b> and give you the training you need to make the most of your new site.</p>
            </div><!-- media-even-two-mobile -->
            <div class="media-even-one">
                <img src="/site/themes/westerncode/dist/img/prototyping-07-563x376.jpg" srcset="/site/themes/westerncode/dist/img/prototyping-07-1126x752.jpg" alt="Western Code" />
            </div><!-- media-even-one -->
            <div class="media-even-two-desktop">
                <h3>Easy to understand and update.</h3>
                <p>Managing your website should be easy. We always make sure that you <b>completely understand how your site works</b> and give you the training you need to make the most of your new site.</p>
            </div><!-- media-even-two-desktop -->
        </div><!-- media-even group -->

        <hr />
<!-- ODD -->
        <div class="media-odd group">
            <div class="media-odd-one">
            <h3>Adaptive to any size screen or device.</h3>
            <p>Large, overgrown agencies can make you feel like you're lost in a crowd; Just another number. We understand small businesses since we are one ourselves. We value each one of our clients individualy.</p>
            </div><!-- media-odd-one -->
            <div class="media-odd-two">
                <img src="/site/themes/westerncode/dist/img/business-01-563x376.jpg" srcset="/site/themes/westerncode/dist/img/business-01-1126x752.jpg" alt="Western Code" />
            </div><!-- media-odd-two -->
        </div><!-- media-odd group -->

        <hr />

<!-- EVEN -->
        <div class="media-even group">
            <div class="media-even-two-mobile">
                <h3>Built with the most modern technologies.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus dicta, totam ratione, dolorem ab veniam in error impedit voluptas fugit mollitia, alias voluptatibus! Consectetur veritatis, voluptatibus quae facilis ratione, sunt?</p>
            </div><!-- media-even-two-mobile -->
            <div class="media-even-one">
                <img src="/site/themes/westerncode/dist/img/developer-16-563x376.jpg" srcset="/site/themes/westerncode/dist/img/developer-16-1126x752.jpg" alt="Western Code" />
            </div><!-- media-even-one -->
            <div class="media-even-two-desktop">
                <h3>Built with the most modern technologies.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus dicta, totam ratione, dolorem ab veniam in error impedit voluptas fugit mollitia, alias voluptatibus! Consectetur veritatis, voluptatibus quae facilis ratione, sunt?</p>
            </div><!-- media-even-two-desktop -->
        </div><!-- media-even group -->

    </div> <!-- content-wrapper mobile-wrapper-->
</div><!-- services-one -->
