<div class="page-title-header">
  <div class="content-wrapper mobile-wrapper">
    <h2>Let us take care of the<br />digital side of your business.</h2>
  </div> <!-- content-wrapper mobile-wrapper -->
</div><!-- page-title-header -->


<div class="services-two">
    <div class="content-wrapper mobile-wrapper">
        <div class="media-odd group">
            <div class="media-odd-one">
            <h3>100% custom web solutions.</h3>
            <p>Your business is not a cookie cutter one-size-fits-all operation, and your online presence shouldn’t be either. Every site we build is custom built from the ground-up and made <i>specifically</i> for your business.</p>
            </div><!-- media-odd-one -->
            <div class="media-odd-two">
                <img src="/site/themes/westerncode/dist/img/writing-above.jpg" alt="PLACEHOLDER" />
            </div><!-- media-odd-two -->
        </div><!-- media-odd group -->

        <div class="media-even group">
            <div class="media-even-one">
                <img src="/site/themes/westerncode/dist/img/matt-overhead.jpg" alt="PLACEHOLDER" />
            </div><!-- media-even-one -->
            <div class="media-even-two">
                <h3>No getting lost in a big agency.</h3>
                <p>Large, overgrown agencies can make you feel like you're lost in a crowd. Just another number. We understand small businesses since we are one ourrselves. We value each one of our clients individualy.</p>
            </div><!-- media-even-two -->
        </div><!-- media-even group -->

        <div class="media-odd group">
            <div class="media-odd-one">
            <h3>Site management that puts you in control.</h3>
            <p>Managing a website should be easy. We always strive to make sure that you completely understand how your site works and give you the training you need to make the most of your new site.</p>
            </div><!-- media-odd-one -->
            <div class="media-odd-two">
                <img src="/site/themes/westerncode/dist/img/coffee-mug.jpg" alt="PLACEHOLDER" />
            </div><!-- media-odd-two -->
        </div><!-- media-odd group -->

    </div> <!-- content-wrapper mobile-wrapper-->
</div><!-- services-two -->

<div class="services-three">
    <div class="content-wrapper mobile-wrapper">
        <h2>Fast to load and respond</h2>
        <h2>Easy to understand</h2>
        <h2>Easy to manage and update</h2>
        <h2>Adaptive to any size screen or device</h2>
        <h2>Built with the most modern technologies</h2>
    </div><!-- content-wrapper mobile-wrapper -->
</div><!-- services-three -->
