    <div class="page-title-header">
      <div class="content-wrapper mobile-wrapper">
        <h2>Styleguide</h2>
      </div> <!-- content-wrapper mobile-wrapper -->
    </div><!-- page-title-header -->

<div class="content-wrapper mobile-wrapper">
    <h2>Colors</h2>

    <h2 class="color-chip-spacing">$blue-1 #1E2E3E<span class="color-chip blue-1-background"></span></h2>

    <h2 class="color-chip-spacing">$blue-2 #507796<span class="color-chip blue-2-background"></span></h2>

    <h2 class="color-chip-spacing">$blue-3 #2A94C8<span class="color-chip blue-3-background"></span></h2>

    <hr />

    <h2 class="color-chip-spacing">$red-1 #B33D40<span class="color-chip red-1-background"></span></h2>

    <h2 class="color-chip-spacing">$red-2 #D1625B<span class="color-chip red-2-background"></span></h2>

    <hr />

    <h2 class="color-chip-spacing">$grey-1 #EEEEEE<span class="color-chip grey-1-background"></span></h2>

    <h2 class="color-chip-spacing">$grey-2 #BDC3C7<span class="color-chip grey-2-background"></span></h2>

</div> <!-- content-wrapper mobile-wrapper -->



<div class="content-wrapper mobile-wrapper">
    <hr />
    <h2>Headings</h2>

    <h1><a href="">This is a Heading 1 - 44px font size - Georgia</a></h1>
    <h2><a href="">This is a Heading 2 - 32px font size - Georgia</a></h2>
    <h3><a href="">This is a Heading 3 - 28px font size - Georgia</a></h3>
    <h4><a href="">This is a Heading 4 - 24px font size - Georgia</a></h4>
    <h5><a href="">This is a Heading 5 - 20px font size - Georgia</a></h5>
    <h6><a href="">This is a Heading 6 - 18px font size - Georgia</a></h6>

</div> <!-- content-wrapper mobile-wrapper -->


<div class="content-wrapper mobile-wrapper">
    <hr />
    <h2>Fonts</h2>

    <p class="font-serif">This paragraph uses the Georgia font. You can add the Georgia font by adding the class ".font-serif" to any HTML element.</p>

    <p class="font-sans-serif">This paragraph uses the Trebuchet MS font. You can add the Trebuchet MS by adding the class ".font-sans-serif" to any HTML element.</p>
    <hr />
    <h2>Links</h2>

    <p><a href="">Body links are naturally #F19525 and rollover to: #6582A1</a></p>

    <p class="link-underline"><a href="">Body links can also be underlined by adding the class ".link-underline". to its parent element.</a></p>
</div> <!-- content-wrapper mobile-wrapper -->


<div class="content-wrapper mobile-wrapper">
    <hr />
    <h2>Paragraphs</h2>
        <p>This is a standard paragraph - Trebuchet MS 18px font - body copy is #363636 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, <a href="/">Body links are naturally underlined and rollover to 2px dashed #E25E54</a> aut, nostrum similique animi voluptate qui perferendis natus ipsa quis tempora iusto explicabo illum accusamus repudiandae enim reprehenderit ratione. Consequatur, <a href="/">Body links are naturally underlined and rollover to 2px dashed #E25E54</a> consequuntur quidem aperiam rerum voluptatibus enim eius molestiae veritatis culpa. Non, nisi maiores suscipit distinctio magni aspernatur a maxime mollitia!</p>
</div> <!-- content-wrapper mobile-wrapper -->


<div class="content-wrapper mobile-wrapper">
    <hr />

    <h2>Buttons</h2>

    <p>HREF Link</p>
        <a class="button" href="">Click me</a>

    <p>Button Element</p>
        <button type="submit" class="button">Submit Form</button>
        <br />
        <br />
</div> <!-- content-wrapper mobile-wrapper -->


<div class="content-wrapper mobile-wrapper">
    <hr/>
    <h2>Lists</h2>

    <ol>
        <li><a href="">Ordered list item</a></li>
        <li><a href="">Ordered list item</a></li>
        <li><a href="">Ordered list item</a></li>
        <li><a href="">Ordered list item</a></li>
        <li><a href="">Ordered list item</a></li>
        <li><a href="">Ordered list item</a></li>
    </ol>

    <ul>
        <li><a href="">Unordered list item</a></li>
        <li><a href="">Unordered list item</a></li>
        <li><a href="">Unordered list item</a></li>
        <li><a href="">Unordered list item</a></li>
        <li><a href="">Unordered list item</a></li>
        <li><a href="">Unordered list item</a></li>
    </ul>
</div> <!-- content-wrapper mobile-wrapper -->


<div class="content-wrapper mobile-wrapper">
    <hr />
    <blockquote>
        <p>I don't think the human race will survive the next thousand years, unless we spread into space. There are too many accidents that can befall life on a single planet. But I'm an optimist. We will reach out to the stars.</p>
        <cite><a href="/"> -Stephen Hawking</a>, 2001</cite>
    </blockquote>
</div> <!-- content-wrapper mobile-wrapper -->

<div class="content-wrapper mobile-wrapper group">
    <hr />
    <h2>Pagination</h2>

    <ul class="pagination">
        <li class="disabled"><span>«</span></li>
        <li class="active"><span>1</span></li>
        <li><a href="/articles?page=2">2</a></li>
        <li><a href="/articles?page=3">3</a></li>
        <li><a href="/articles?page=2" rel="next">»</a></li>
    </ul>
    <br />
    <br />
    <br />
</div> <!-- content-wrapper mobile-wrapper group -->
