<div class="services-one">
  <div class="content-wrapper mobile-wrapper">
    <h2>Let us take care of the<br />digital side of your business.</h2>
  </div> <!-- content-wrapper mobile-wrapper -->
</div><!-- services-one -->

    <div class="tiles">
        {{ collection:testimonials }}
        <a href="http://amzn.com/{{ amazon_id }}" class="item">
            <div class="image" style="background-image: url('{{ photo }}');">
                <h3 class="caption">{{ title }}</h3>
            </div>
        </a>
        {{ /collection:testimonials }}
    </div>


